header {
    background-color: rgb(14, 227, 11);
    display: flex;
    flex-direction: column; /* Розташовує елементи вертикально */
    align-items: center; /* Центрує по горизонталі */
    text-align: center; /* Центрує текст */
    padding: 20px; /* Додає відступи для кращого вигляду */
}

h1 {
    margin: 0; /* Прибирає стандартні відступи заголовка */
    font-size: 2em; /* Збільшує розмір шрифту, якщо потрібно */
}

header img {
    margin-top: 10px; /* Додає відступ між заголовком і зображенням */
}

body {
    font-family: sans-serif;
    background-color: rgb(20, 147, 3);
    color: white;
    margin: 0;
    text-align: center;
}

table{
    border: 3px solid rgb(29, 113, 29);
    border-collapse: collapse;
    width: 90%; /* Збільшена ширина таблиці */
    margin: 20px auto; /* Центрування таблиці по горизонталі */
    font-family: Arial, sans-serif;
}

td{
    border: 3px solid rgb(29, 113, 29);
}

nav a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    background-color: rgb(34, 184, 0);
    border: 3px double peachpuff;
    padding: 10px;
    border-radius: 15px;
}

nav{
    display: flex;
    justify-content: space-around;
    justify-content: space-between;
    margin-top: 20px;
}

footer{
    background-color: rgb(14, 227, 11);
    display: flex;
   
    align-items: center; /* Центрує по горизонталі */
    text-align: center; /* Центрує текст */
    padding: 20px; /* Додає відступи для кращого вигляду */
}

.aaaaa{
    display: flex;
    justify-content: end;
    width: 200px;
    text-decoration: none;
    color: white;
    background-color: rgb(53, 116, 39);
    border: 3px double rgb(0, 0, 0);
    padding: 10px;
    border-radius: 15px;
    text-align: center;
    
}
